.pagination {
  .page-item {
    padding: 5px;
    @include fontUTM(bold, 20px, $color_link);

    .page-link {
      color: $color_link;
      border: 1px solid $color_link;
      box-sizing: border-box;
      border-radius: 3px;
    }
  }

  .page-item.active {
    .page-link {
      z-index: 3;
      color: #fff;
      background: rgb(255,138,0);
      background: linear-gradient(90deg, rgba(255,138,0,1) 0%, rgba(255,192,0,1) 100%, rgba(0,212,255,1) 100%);    }
  }
}
