@mixin font-face($font-family, $url, $font-weight) {
  @font-face {
    font-family: "#{$font-family}";
    src: url("#{$url}");
    font-style: normal;
    font-weight: $font-weight;
  }
}

$color_link: #FF8A00;
$main_color: #ffffff;
$color_txt: #11114e;
$color_title: #505353;

@mixin fontUTM($weight, $size, $color) {
  font: $weight $size UTM;
  color: $color;
}

@mixin fontOpen($weight, $size) {
  font: $weight $size Open Sans;
}
